/*reset*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;   
    font-family: 'Roboto', sans-serif;
}

/*header*/

.menu{  
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:"logo menu buscador";
    padding-top: 1.5rem;
    background-color: rgb(9, 9, 26);

    .tituloSashimi{
        grid-area: logo;
        font-size: 25px;
        height: 2rem;
        color: orange;
        font-family: 'Raleway', sans-serif;
        padding-left: 0.5rem;
    }

    .sashimiMenus{
        grid-area: menu;
        display: flex;
        gap: 25%;
        justify-content: center;
        list-style: none;

        .linkMenu{
            text-decoration: none;
            color: whitesmoke;
            font-size: 24px;
        }
    }

}

/*header index*/

/*main*/

.main{
    background-color: rgb(215, 153, 39);

    .colorTipos{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .linkPopulares{
            padding-top: 1rem;
            font-size: x-large;
            text-decoration: none;
            color: black;
        }
        
        .linkGeneros{
            font-size: x-large;
            text-decoration: none;
            color: black;
        }
    }

    .colorBanner{
        background-color: rgb(215, 153, 39);
        height: 700px;

        .demonslayerBanner{
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;    
            height: 500px; 
            width: 300px;
            bottom: -100px;
        }
    }

    section{
        .favoritos{
            background-color: rgb(9, 9, 26);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            color: whitesmoke;
        }

        .imagenesFavoritos{
            background-color: rgb(9, 9, 26);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "imagen1 imagen2 imagen3"
                                 "imagen4 imagen5 imagen6";
            justify-items: center;
            overflow-x: auto; 

            .imagenesHijo{
                margin: 30px;
                height: 400px;
                width: 300px;
            }
            
            .img1{
                grid-area: imagen1;
            }
            
            .img2{
                grid-area: imagen2;
            }
            
            .img3{
                grid-area: imagen3;
            }
            
            .img4{
                grid-area: imagen4;
            }
            
            .img5{
                grid-area: imagen5;
            }
            
            .img6{
                grid-area: imagen6;
            }
        }

        .imagenesFavoritos::-webkit-scrollbar{
            width: 2em;
        }
        
        .imagenesFavoritos::-webkit-scrollbar-track{
            background: whitesmoke;
            border-radius: 0%;
        }
        
        .imagenesFavoritos::-webkit-scrollbar-thumb{
            background: gray;
            border-radius: 100vw;
        }
        
        .imagenesFavoritos::-webkit-scrollbar-thumb:hover{
            background: black;
        }
    }
}

/*footer*/
.footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:"redes condiciones";
    height: 8rem;
    background-color: rgb(74, 70, 70);
    align-items: center;
    justify-items: center;

    .redesFooter{
        grid-area: redes;
        display: flex;
        flex-direction: row;
        gap: 0.8rem;

        li{
            list-style: none;
        }
    }

    .ubicacionEnding{

        grid-area: condiciones;
        display: flex;
        flex-flow: column;
        gap: 0.8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;

        .listaColor{
            color: whitesmoke;

            a{
                color: whitesmoke;
            }
        }
    }

}