@media screen and (max-width: 600px){
    main section .imagenesFavoritos{
        grid-template-columns: auto;
        grid-template-rows: repeat(6,1fr);
        grid-template-areas: "imagen1"
                             "imagen2"
                             "imagen3"
                             "imagen4"
                             "imagen5"
                             "imagen6";
        
        width: 100%;
        justify-items: center;
    }   

    header nav .sashimiMenus{
        display: flex;
        flex-direction: row;
        gap: 33px;
        margin-left: 35px;
    }
}
